<label for="url">Your short URL is:</label>
<div class="input-group mt-4">
  <input id="url" name="url" type="url" class="form-control" placeholder=" http://localhost:3000/{{ code }}" 
  value=" http://localhost:3000/{{ code }}">
  <button class="btn btn-outline-success" type="button" onclick="copy()">copy</button>
</div>

<a href="/"><button type="button" class="btn btn-dark mt-3 p-1">One More
</button></a>

<script>
  const copy = () => {
    document.querySelector('#url').select()
    document.execCommand('Copy')
    alert('Copied!')
  }
</script>